[Unit]
Description=Weatherstation
After=network.target

[Service]
WorkingDirectory=/home/rain/Desktop/weatherstation
ExecStart=/home/rain/Desktop/weatherstation/runWeatherStation.sh
Restart=always
User=rain

[Install]
WantedBy=multi-user.target
